# CONFIGURACIÓN DE SUPABASE CLOUD (SuperEconómico)
VITE_SUPABASE_URL="https://mvrlcbcydpubhovvrmvf.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12cmxjYmN5ZHB1YmhvdnZybXZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3NDA3OTAsImV4cCI6MjA5ODMxNjc5MH0.rNQq1xOA5zGJpMiHlhsXKw5lWLg49qYUtDSC9M7Iha8"

# GEMINI_API_KEY (Opcional para funciones de IA)
GEMINI_API_KEY=""

# APP_URL
APP_URL="http://localhost:3000"
